/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------  Component Board  --------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

table{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,0%);
}

td{
    width: 75px;
    height: 75px;
    text-align: center;
    font-weight: bold;
    background-color: wheat;
    border-radius: 6px;
}

.f1 , .f2{
    border-bottom: 3px solid black;        
}

.c1 , .c2{
    border-right: 2px solid black;
}

.revancha{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%,0%);
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------  Component Users  --------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */


.partidasGanadas{
    background-color: rgba(218, 233, 182, 0.8);
    font-size: 16px;
    font-weight: bold;
}

.h1,h2,h3,h4,h5{
    font-weight: bold;
}

.container-user {
    padding-top: 2.5%;
    padding-left: 7%;
    padding-right: 7%;
}

.container-user > div {
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
}
